@import "../../global";

.panel {
    border-radius: 10px;

    @include themed() {
        background-color: color($panelBg);
        color: color($panelText);
        box-shadow: 0 5px 10px color($shadow);
    }

    &.s {
        padding: 5px;
    }

    &.m {
        padding: 20px;
    }
}
