@import "../../global";

.card {
    @include transition();

    position: relative;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    outline: 3px solid transparent;

    .content {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: flex-end;
        padding: 20px;
        border-radius: 10px;

        @include themed() {
            color: color($panelText);
            background-color: color($panelBg);
        }
    }

    .expires {
        position: absolute;
        left: 0;
        right: 0;
        height: 42px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 7px 10px;

        @include themed() {
            color: color($panelText);
            background-color: color($primary);
        }

        + .content {
            top: 32px;
        }
    }

    &:hover {
        @include themed() {
            outline: 3px solid color($shadow);
        }
    }
}
