@import "../../global";

.toolbarDivider {
    border-radius: 2px;

    @include themed() {
        background-color: color($opaque);
    }

    &.horizontal {
        height: 2px;
        width: 16px;
        margin-left: 12px;
    }

    &.vertical {
        height: 16px;
        width: 2px;
    }
}
