@import "../../global";

.toolbarPopupActuator {
    position: relative;

    .toolbarPopup {
        position: absolute;
        left: 100%;
        padding-left: 10px;

        &.top {
            top: 0;
            transform-origin: left top;
        }

        &.center {
            top: 50%;
            transform-origin: left center;
            translate: 0 -50%;
        }

        &.bottom {
            bottom: 0;
            transform-origin: left bottom;
        }
    }
}
