@import "../../global";

.avatar {
    @include centeredInlineFlex();

    position: relative;
    border-radius: 50%;
    overflow: hidden;
    letter-spacing: 1px;
    user-select: none;

    @include themed() {
        background-color: color($secondary);
        box-shadow: 0 0 0 2px color($panelBg);

        &.me {
            box-shadow: 0 0 0 2px color($primary);
        }

        > p {
            color: color($secondaryText);
        }
    }

    &.xs {
        width: 16px;
        height: 16px;
        font-size: 0.5rem;
    }

    &.s {
        width: 24px;
        height: 24px;
        font-size: 0.75rem;
    }

    &.m {
        width: 32px;
        height: 32px;
        font-size: 1rem;
    }

    &.l {
        width: 64px;
        height: 64px;
        font-size: 2rem;
    }

    > span {
        width: 100%;
        white-space: nowrap;
        text-align: center;
    }

    > img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}
