@import "../../global";

.toolbarButton {
    @include transition();

    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 7px;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include themed() {
        color: color($fgText);
    }

    // &:not(:last-child) {
    //     margin-right: 5px;
    // }

    .tooltipRoot {
        position: absolute;
        inset: 0;
    }

    &:hover {
        @include themed() {
            background-color: color($opaque);
        }
    }

    &.active {
        @include themed() {
            background-color: color($primary);

            &:hover {
                background-color: color($primaryFocus);
            }
        }
    }
}
