@import "../../global";

.toolbarButton {
    @include transition();

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    outline: 2px solid transparent;
    border-radius: 7px;
    cursor: pointer;

    @include themed() {
        color: color($panelText);

        &:not(:disabled):hover {
            background-color: color($opaque);
        }

        &:not(:disabled):focus-visible {
            outline: 2px solid color($opaque);
        }

        &:not(:disabled):active {
            outline: 2px solid color($opaque);
        }

        &.active {
            background-color: color($primary);
            color: color($primaryText);

            &:hover {
                background-color: color($primaryFocus);
            }
        }
    }

    &:disabled {
        opacity: 0.5;
    }
}
