@import "../../global";

$duration: 2s;

.boardLoading {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include themed(null, true) {
        background-color: color($bg);
    }

    p {
        text-align: center;
        margin-top: 2rem;

        @include themed(null, true) {
            color: color($fg);
        }
    }
}

#board-loading-pencil,
#board-loading-eraser {
    transform-origin: 124px 162px;
    animation: tool-move-2 $duration linear infinite forwards;
}

#board-loading-eraser {
    animation-delay: -1s;
    opacity: 0;
}

#board-loading-line {
    stroke-dasharray: 130px;
    animation: line-draw $duration linear infinite forwards;
}

@keyframes tool-move-2 {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }

    15%,
    20% {
        transform: translate(138px, 0) rotate(0deg);
        opacity: 1;
    }

    25% {
        transform: translate(120px, -40px) rotate(-45deg);
        opacity: 1;
    }

    35% {
        transform: translate(65px, -70px) rotate(-300deg);
        opacity: 0;
    }

    45%,
    50% {
        transform: translate(0, 0) rotate(-360deg);
        opacity: 0;
    }

    65%,
    70% {
        transform: translate(138px, 0) rotate(-360deg);
        opacity: 0;
    }

    75% {
        transform: translate(120px, -40px) rotate(-405deg);
        opacity: 0;
    }

    85% {
        transform: translate(65px, -70px) rotate(-660deg);
        opacity: 1;
    }

    95%,
    100% {
        transform: translate(0, 0) rotate(-720deg);
        opacity: 1;
    }
}

@keyframes line-draw {
    0% {
        stroke-dashoffset: 130px;
    }

    12.5% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 0;
    }

    62.5% {
        stroke-dashoffset: -130px;
    }

    100% {
        stroke-dashoffset: -130px;
    }
}
