@import "../../global";

.selectionBox {
    position: fixed;

    // pointer-events: all;
    cursor: move;
    transition:
        left 0.2s $timingCurve,
        top 0.2s $timingCurve,
        width 0.2s $timingCurve,
        height 0.2s $timingCurve;

    @include themed() {
        border: 1px solid color($primary);
    }

    .resizeKnob {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        translate: -50% -50%;

        @include themed() {
            background-color: color($primaryText);
            box-shadow: 0 0 0 2px color($shadow);
        }

        &.topLeft {
            top: 0;
            left: 0;
            cursor: nwse-resize;
        }

        &.topRight {
            top: 0;
            left: 100%;
            cursor: nesw-resize;
        }

        &.bottomRight {
            top: 100%;
            left: 100%;
            cursor: nwse-resize;
        }

        &.bottomLeft {
            top: 100%;
            left: 0;
            cursor: nesw-resize;
        }
    }

    .toolbar {
        display: inline-flex;
        translate: 0% -100% !important;
        margin-top: -10px;
        cursor: default;
    }
}
