@import "../global";

.ui {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;

    @include themed() {
        color: color($panelText);
    }

    .innerCorner {
        position: fixed;
        top: 50px;
        left: 50px;

        @include themed() {
            color: color($panelBg);
        }
    }

    .interactable {
        pointer-events: all;
    }
}
