@import "../global";

.bg {
    width: 100vw;
    padding: 2rem;

    @include themed() {
        color: color($fgText);
        background-color: color($fg);
    }

    > h1 {
        margin: 2rem 0 1rem;
    }

    > .dark {
        padding: 1rem;
        margin: 1rem 0;

        @include themed() {
            background-color: color($bg);
        }
    }
}
