@import "../../global";

.checkbox {
    width: 24px;
    height: 24px;
    border-radius: 3px;

    @include themed() {
        color: color($inputText);
        background-color: color($inputBg);

        &:not(.disabled) {
            &:hover,
            &:focus-within {
                box-shadow: 0 0 0 2px color($shadow) inset;
            }

            &:focus-within {
                outline: 2px solid color($primary);
            }
        }
    }

    > input {
        appearance: none;
        background-color: transparent;
    }
}
