@import "../../global";

.button {
    @include centeredInlineFlex();
    @include transition();

    position: relative;
    overflow: hidden;
    border: 0;
    outline: 0;
    border-radius: 999px;
    user-select: none;
    cursor: pointer;

    @include themed() {
        outline: 3px solid transparent;

        &:not(:disabled):active,
        &:not(:disabled):focus-visible {
            outline: 3px solid color($shadow);
        }

        &.primary {
            color: color($primaryText);
            background-color: color($primary);

            &:not(:disabled):hover {
                background-color: color($primaryFocus);
            }
        }

        &.secondary {
            color: color($secondaryText);
            background-color: color($secondary);

            &:not(:disabled):hover {
                background-color: color($secondaryFocus);
            }
        }

        &.tertiary {
            color: color($panelText);
            background-color: transparent;

            &:not(:disabled):hover {
                background-color: color($opaque);
            }
        }
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

    &.xs {
        height: 1rem;
        width: 1rem;
    }

    &.s {
        height: 2rem;
        width: 2rem;
    }

    &.m {
        height: 2.5rem;
        width: 2.5rem;
    }

    > * {
        z-index: 1;
    }

    > svg.loadingIcon {
        animation: loading-icon-spin 1s linear 0s infinite;
    }
}

@keyframes loading-icon-spin {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}
