@import "../../global";

.input {
    @include centeredInlineFlex();

    overflow: hidden;
    box-shadow: 0 0 0 2px transparent inset;
    outline: 2px solid transparent;
    transition: box-shadow 0.2s $timingCurve, outline 0.2s $timingCurve;

    @include themed() {
        color: color($inputText);
        background-color: color($inputBg);

        &:not(.disabled) {
            &:hover,
            &:focus-within {
                box-shadow: 0 0 0 2px color($shadow) inset;
            }

            &:focus-within {
                outline: 2px solid color($primary);
            }
        }
    }

    > input {
        font-size: 0.8rem;
        font-weight: 500;
        border: 0;
        outline: 0;
        color: currentcolor;
        background-color: transparent;
        flex-grow: 1;
        flex-shrink: 1;

        &::selection {
            @include themed() {
                background-color: color($primary);
            }
        }
    }

    &.disabled {
        opacity: 0.75;
        cursor: not-allowed;

        > input {
            cursor: not-allowed;
        }
    }

    &.xs {
        border-radius: 3px;

        > input {
            height: 1rem;
            padding: 0 0.25rem;
        }
    }

    &.s {
        border-radius: 5px;

        > input {
            height: 2rem;
            padding: 0 0.5rem;
        }

        > svg {
            margin-left: 0.5rem;
        }
    }

    &.m {
        border-radius: 10px;

        > input {
            height: 2.5rem;
            padding: 0 1rem;
        }

        > svg {
            margin-left: 1rem;
        }
    }
}
