@import "../../global";

.selectionBox {
    position: fixed;
    z-index: -1;
    pointer-events: none;

    @include themed() {
        border: 1px solid color($primary);
    }

    .resizeKnob {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        translate: -50% -50%;

        @include themed() {
            background-color: color($primaryText);
            box-shadow: 0 0 0 2px color($shadow);
        }

        &.topLeft {
            top: 0;
            left: 0;
            cursor: nwse-resize;
        }

        &.topRight {
            top: 0;
            left: 100%;
            cursor: nesw-resize;
        }

        &.bottomRight {
            top: 100%;
            left: 100%;
            cursor: nwse-resize;
        }

        &.bottomLeft {
            top: 100%;
            left: 0;
            cursor: nesw-resize;
        }
    }

    .toolbar {
        position: absolute;
        left: 50%;
        top: 0;
        translate: -50% -100% !important;
        margin-top: -10px;
        pointer-events: all;
    }

    .input input {
        min-width: 100px;
    }
}

.colorPalette {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s;

    > div {
        overflow: hidden;
        padding: 0 16px;
    }

    &.colorPaletteOpen {
        grid-template-rows: 1fr;

        > div {
            padding-top: 16px;
        }
    }
}
