@import "../../global";
@import "https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap";

.selectionBox {
    position: fixed;
    z-index: -1;
    pointer-events: none;

    .toolbar {
        position: absolute;
        left: 50%;
        top: 0;
        translate: -50% -100% !important;
        margin-top: -10px;
        pointer-events: all;
    }
}

.textArea {
    outline: 0;
    background-color: transparent;
    position: fixed;
    pointer-events: all;
    resize: none;
    font-family: Caveat, cursive;
    font-size: 16px;
    line-height: 1em;
    overflow: hidden;
    white-space: pre;

    @include themed() {
        border: 1px solid color($primary);
    }
}
