@import "layout";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";
@import "global";

html,
input,
button {
    font-family: Poppins, sans-serif;
}

.ui {
    position: fixed;
    display: flex;
    flex-direction: column;
    inset: 0;
    pointer-events: none;

    > .left {
        height: 100%;
    }
}
